<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/feeds.css">
        <title>Recipe Feeds</title>
    </head>

    <body id="home">
        <!-- Beginning of Nav Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
               <a class="navbar-brand" href="index.html"><img src="img/logo.png"></a>
                    <div class="navbar-collapse justify-content-end" id="navbarNav">
                       <form class="form-inline my-2 my-lg-0">
                           <input class="form-control mr-sm-2" type="text" placeholder="Search">
                           <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>&nbsp;&nbsp;
                           <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              My Profile
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="feeds.html">All Recipes</a>
                              <a class="dropdown-item" href="list.html">Favourites</a>
                              <a class="dropdown-item" href="profile.html">Profile</a>
                              <a class="dropdown-item" href="#">Logout</a>
                            </div>
                          </div>
                       </form>
                   </div>
           </div>   
       </nav>
       <!-- End of Navbar -->

        <!--Start of Main Section -->
        <section id="share-head-section" class="bg-light text-primary">
            <div class="container">
                <main>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-header">
                                <a href="new-post.html" class="btn btn-success float-right" role="button">Create a new Recipe</a>
                                 </button>
                                    <h2>Recipe Feeds</h2>
                                </div>
                                    <div class="card-deck">
                                    
                                    
                                    <div class="card mb-4">
                                   <a href="recipes-details.html"> <img class="card-img-top" src="img/bg.jpg" alt="Card image cap"></a>
                                        <div class="card-block">
                                          <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
                                          <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy </p>
                                          <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                            <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
                                          </span>
                                        </div>
                                    </div>
                                    

                                      <div class="card mb-4">
                                        <a href="recipes-details.html"> <img class="card-img-top" src="img/toast.jpg" alt="Card image cap"> </a>
                                        <div class="card-block">
                                          <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
                                          <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
                                          <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                          </span>
                                          <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
                                        </div>
                                      </div>

                                      <div class="card mb-4">
                                        <a href="recipes-details.html">  <img class="card-img-top" src="img/burger.jpg" alt="Card image cap"></a>
                                        <div class="card-block">
                                          <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
                                          <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
                                          <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                            <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
                                          </span>
                                        </div>
                                      </div>

                                      <div class="card mb-4">
                                        <a href="recipes-details.html"> <img class="card-img-top" src="img/chicken.jpg" alt="Card image cap"></a>
                                        <div class="card-block">
                                          <a href="recipes-details.html"><h4 class="card-title">Recipe Title</h4></a>
                                          <p class="card-text">Hmmmmmmmmmmmmmmmmmmmmmm, Yummy !</p>
                                          <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                            <p class="card-text"><small class="text-muted"><a href="users.html">toby</a> | Posted 3 mins ago</small></p>
                                          </span>
                                        </div>
                                      </div>

                                    </div>
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                      </ul>
                                    </nav>
                                      </div>
                                </div>
                        </div>
                    </main>
                </div>
            </section>
        <!--Start of Footer -->
        <footer class="foot">
            <div class="container">
               <div class="row">
                   <div class="col text-center">
                       <p>
                        Copyright &copy; 2017. More Recipe
                       </p>
                   </div>
               </div>
           </div>
       </footer>
       <!-- End of Footer -->

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>