<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/hover.css">
        <title>More Recipe</title>
    </head>
    <style>
       

    </style>

    <body id="home">
        <!-- Beginning of Nav Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="img/logo.png"></a>
                    <div class="navbar-collapse justify-content-end" id="navbarNav">
                        <a href="signin.html" class="btn btn-success my-2 my-sm-0" type="submit">Login</a> &nbsp; &nbsp;
                        <a href="signup.html" class="btn btn-danger my-2 my-sm-0" type="submit">Sign Up</a>
                    </div>
            </div>   
        </nav>
        <!-- End of Navbar -->

        <!-- Start of MainSection -->
         <header id="home-section">
            <div class="dark-overlay">
                <div class="home-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8"><br><br>
                                <h1 class="display-4">Share Your Recipes With The World Today</h1><hr>
                                <p class="lead"><strong>More Recipe</strong> is an application that allows you to Share your amazing recipes online
                                and also view a wide range of recipes by other online chefs</p><br>
                                <p class="lead">
                                    Sign Up for free today for an amazing Experience
                                </p></div>
                            <hr>
                            <div class="col-lg-4">
                                <div class="card bg-success text-center card-form">
                                    <div class="card-body">
                                        <h3>Welcome to More Recipe</h3>
                                        <p>Log into your account</p>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-lg" placeholder="Password">
                                            </div>
                                            <input type="submit" value="Login" class="btn btn-warning btn-block">
                                        </form>
                                    </div>
                                    <div class="form-group text-center">
                                        <p>Don't have an account?
                                            <a href="signup.html" data-toggle="modal" data-target="#signupModal" class="text-white"><strong>Sign Up</strong></a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </header>
        <!--End of Main Section-->
        <hr/>
                                <!--Preview GAllery Section -->
                                <div class="parallax"></div>
                                <section class="text-center gallery">
                                <div class="container">
                                    <h2>Get Cool Recipes from real People</h2><hr>
                                    <div class="row justify-content-center no-gutters">
                                    <div class="col-sm-3">
                                       <a href="recipes-details.html"><img class="img-fluid image" src="img/v1.jpg"></a> 
                                        <div class="overly">
                                                 <div class="text"><a class="btn btn-success" href="feeds.html">View Recipes</a> </div>
                                          </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="recipes-details.html"><img class="img-fluid" src="img/v2.jpg"></a>
                                        <div class="overly">
                                                <div class="text"><a class="btn btn-success" href="feeds.html">View Recipe</a> </div>
                                         </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="recipes-details.html"><img class="img-fluid" src="img/v3.jpg"></a>
                                        <div class="overly">
                                                <div class="text"><a class="btn btn-success" href="feeds.html">View Recipe</a> </div>
                                         </div>
                                    </div>
                                    </div>
                                   
                                </div>
                                <br>
                                <p>So what's Next</p>
                                <a href="feeds.htmlt" class="btn btn-primary">Take me to the Food</a>
                                </section> <!--End of Gallery Section --><br>
                    
                <!--Copyright div-->
                <div class="container" align="center">
                    &#9400; 2017 More Recipe
                </div>
                <!--End of Copyright-->
        

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>