<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/searchpage.css">
        <title>Search Favourite Recipe Listings</title>
</head>

<body id="home">
    <!-- Beginning of Nav Bar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
         <div class="container">
            <a class="navbar-brand" href="index.html"><img src="img/logo.png"></a>
                 <div class="navbar-collapse justify-content-end" id="navbarNav">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
        </div>   
    </nav>
    <!-- End of Navbar -->

    <!--Beginning of Main Section -->
    <section id="explore-head-section">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="p-5">
                        <h1 class="display-4">
                            My Favourite Listings
                        </h1>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="top-items">
                                    <div class="rated">
                                        <div class="imgholder"><img src="img/burger.jpg"></div>
                                        <div class="des">
                                          <h2>Terry Burger</h2>
                                          <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam doloremque nostrum odit est excepturi corporis,
                                          </div>
                                        </div>
                                        <div class="itemReview row">
                                            <div class="col-md-3 picicon">
                                              <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
                                            </div>
                                            <div class="col-md-9 recipe-by">
                                              <div>Recipe by <strong>Seun Daramola</strong></div>
                                              <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                              </span>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="top-items">
                                      <div class="rated">
                                        <div class="imgholder"><img src="img/salad.jpg"></div>
                                        <div class="des">
                                          <h2>Lagos Salad</h2>
                                          <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci fuga maiores fugiat necessitatibui 
                                          </div>
                                        </div>
                                        <div class="itemReview row">
                                            <div class="col-md-3 picicon">
                                              <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
                                            </div>
                                            <div class="col-md-9 recipe-by">
                                              <div>Recipe by <strong>Faluyi Seun</strong></div>
                                              <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                              </span>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="top-items">
                                      <div class="rated">
                                        <div class="imgholder"><img src="img/oats.jpg"></div>
                                        <div class="des">
                                          <h2>Morning Oats</h2>
                                          <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident fuga deserunt!minus inventore modi ab.
                                          </div>
                                        </div>
                                        <div class="itemReview row">
                                            <div class="col-md-3 picicon">
                                              <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
                                            </div>
                                            <div class="col-md-9 recipe-by">
                                              <div>Recipe by <strong>Gov Samuel</strong></div>
                                              <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                              </span>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--End of Main Section -->
    <!--Start of Footer -->
    <footer>
         <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>
                     Copyright &copy; 2017. More Recipe
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>