<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/feeds.css">
        <title>My Profile</title>
    </head>

    <body id="home">
        <!-- Beginning of Nav Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
               <a class="navbar-brand" href="index.html"><img src="img/logo.png"></a>
                    <div class="navbar-collapse justify-content-end" id="navbarNav">
                       <form class="form-inline my-2 my-lg-0">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              My Profile
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="feeds.html">All Recipes</a>
                              <a class="dropdown-item" href="list.html">Favourites</a>
                              <a class="dropdown-item" href="profile.html">Profile</a>
                              <a class="dropdown-item" href="#">Logout</a>
                            </div>
                          </div>
                       </form>
                   </div>
           </div>   
       </nav>
       <!-- End of Navbar -->

        <!--Start of Main Section -->
        <section id="share-head-section" class="bg-light text-primary recipe-container" style="margin-top:-40px;">
                <div class="container" style="margin-bottom:150px;">
                    <h1 class="page-header" align="center">
                       User Profile
                    </h1>
                    <div class="row" >
                    <div class="col-md-1"></div>          
                    <div class="col-md-3"> 
                        <div class="MyPicture"><img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"></div>
                        <input type="file" class="form-control-file">
                        <small class="form-text text-left text-white" >Select an Image from your Computer.</small>
                    </div>
                    <div class="col-md-6 user-details">
                        <!--Users Details -->
                        <form>
                        <div class="card">
                                <div class="card-block text-nowrap" align="left">
                                        <strong>Name</strong> Seun Daramola
                                    </div><br>
                                    <div class="card-block text-nowrap" align="left">
                                        <strong>Username:</strong> @seunzone
                                    </div><br>
                                    <div class="card-block text-nowrap" align="left">
                                        <strong>Email Address</strong> darealseun@gmail.com
                                    </div><hr>
                                  </div><br>
                        <a data-toggle="modal" data-target="#editModal" class="btn btn-warning text-white">Edit My Profile</a>
                        <hr>
                        <a href="new-post" class="btn btn-success text-white">Create New Post</a>

                        </form>   
                    </div>
                </div>
        </section>
        <!--Start of Footer -->
        <footer>
            <div class="container">
               <div class="row">
                   <div class="col text-center">
                       <p>
                        Copyright &copy; 2017. More Recipe
                       </p>
                   </div>
               </div>
           </div>
       </footer>
       <!-- End of Footer -->

         <!-- Start of Login Modal -->
    <div id="editModal" class="modal fade text-dark">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="contactModalTitle" class="modal-title">
                           Edit Your Profile
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="Name" class="form-control" placeholder="Seun Daramola">
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="Name" class="form-control" placeholder="@seunzone">
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address:</label>
                                <input type="password" class="form-control" placeholder="darealseun@gmail.com">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#">
                        <button class="btn btn-primary btn-block">
                            Update
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of login Modal -->

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>