<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/feeds.css">
        <title>Recipe Details</title>
    </head>

    <body id="home">
        <!-- Beginning of Nav Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed">
            <div class="container">
               <a class="navbar-brand" href="index.html"><img src="img/logo.png"></a>
                    <div class="navbar-collapse justify-content-end" id="navbarNav">
                       <form class="form-inline my-2 my-lg-0">
                           <input class="form-control mr-sm-2" type="text" placeholder="Search">
                           <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                       </form>
                   </div>
           </div>   
       </nav>
       <!-- End of Navbar -->

        <!--Start of Main Section -->
        <section id="share-head-section" class="bg-light text-primary recipe-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                        Yoruba Sald
                        </h1>
                        <img src="img/salad.jpg" class="img-fluid" alt="Responsive image">
                        <h4 class="page-header" align="justify">Ingredients</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                  
                        <div class="mb-5">
                        <h4 class="page-header">Directions</h4>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                  
                        </div>
                  
                        <form class="comment">
                        <div class="form-group">
                                <span class="icons"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>&nbsp;120&nbsp;&nbsp;
                                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;120
                                  </span>
                          <textarea class="form-control" id="recipeComment" rows="3" placeholder="Add a new comment" ></textarea>
                        </div>
                        <div class="form-group">
                              <button class="btn btn-success">Add comment</button>
                        </div>
                        </form>
                  
                    </div>    
        </section>
        <!--Start of Footer -->
        <footer>
            <div class="container">
               <div class="row">
                   <div class="col text-center">
                       <p>
                        Copyright &copy; 2017. More Recipe
                       </p>
                   </div>
               </div>
           </div>
       </footer>
       <!-- End of Footer -->

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>