<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Sign In</title>
    </head>

    <body id="home">
        <!-- Beginning of Nav Bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container justify-content-center">
                <a class="navbar-brand" href="index.html"><img src="img/logo.png"></a>
            </div>   
        </nav>
        <!-- End of Navbar -->

        <!-- Start of MainSection -->
         <header id="home-section">
            <div class="dark-overlay">
                <div class="home-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-primary text-center card-form">
                                    <div class="card-body">
                                        <h3>Create a new Account</h3>
                                        <p>Kindly fill the form</p>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                    <input type="text" class="form-control form-control-lg" placeholder="Email Address">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-lg" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                    <input type="password" class="form-control form-control-lg" placeholder=" Confirm Password">
                                            </div>
                                            <input type="submit" value="Sign Up" class="btn btn-success btn-block">
                                        </form>
                                    </div>
                                    <div class="form-group text-center">
                                        <p>Have an Account?
                                            <a href="sigin.html" class="text-white"><strong>Sign In</strong></a>
                                        </p>
                                    </div>
                                </div>
                                <!--Copyright div-->
                                 <div class="container" align="center">
                                 &#9400; 2017 More Recipe
                                 </div>
                                 <!--End of Copyright-->
                            </div>
                            <div class="col-lg-4">
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </header>
        <!--End of Main Section-->



        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>